@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Creative Colors

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: /*#606060*/#c1c1c1;
$blue_color: #3fcfd8;
$pink_color: #ff2264;
/*$grey_color: #ededed;*/
$grey_color: #8f8787;
$background: #232222;
$border: #37ffd2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: 'Lemon/Milk Regular';
	src: url(fonts/LemonMilk.otf);
}

@font-face {
	font-family: 'Bebas Neue Regular';
	src: url(fonts/BebasNeue.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
	font: {
		family: 'Roboto', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $blue_color;
	&:hover {
		color: $blue_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: #000;
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 20px 2px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-top: 1px solid #fff;
							}
						}
						&#menu-item-21 {
							display: none;
						}
						a {
							padding: 20px 18px;
							border-top: 1px solid transparent;
							font: {
								family: 'Bebas Neue Regular';
								size: 18px;
							}
							color: #fff;
							text-transform: uppercase;
							&:hover {
								border-top: 1px solid #fff;
							}
							&:after {
								border: {
									color: #fff transparent transparent;
								}
							}
						}
						ul.sub-menu {
							min-width: 150px;
							padding: 10px;
							background-color: rgba(0, 0, 0, 0.6);
							border: 0;
							z-index: 100;
							li {
								padding: 5px 0;
								background-image: none;
								/*border-bottom: 1px solid #fff;*/
								z-index: 100;
								a {
									width: 100%;
									padding: 10px 15px 10px 10px;
									font: {
										family: 'Open Sans', sans-serif;
										size: 14px;
									}
									text-transform: initial;
									z-index: 100;
									&:hover {
										&:after {
											border: {
												color: transparent transparent transparent #fff;
											}
										}
									}
									&:after {
										margin-right: 0;
										right: 0;
										border: {
											top-color: transparent;
											color: transparent transparent transparent red;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to2 {
		ul.mega-menu {
			li.mega-menu-item {
				&#mega-menu-item-21 {
					display: none !important;
				}
				a.mega-menu-link {
					font-family: 'Bebas Neue Regular' !important;
				}
				ul.mega-sub-menu {
					li.mega-menu-item {
						a.mega-menu-link {
							font-family: 'Open Sans', sans-serif !important;
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		a {
			padding: 0 5px;
			border-top: 1px solid transparent;
			font: {
				family: 'Bebas Neue Regular';
				size: 20px;
			}
			color: #fff;
			text-transform: uppercase;
			&:hover {
				border-top: 1px solid transparent;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	/*background: {
		image: url(content_bg.png);
		position: center;
	}*/
	strong {
		color: $blue_color;
	}
	table {
		tbody {
			background-color: transparent;
			border: 0;
			tr {
				background-color: transparent;
			}
		}
	}
	.asterisk {
		color: red;
	}
	label {
		color: $grey_color;
	}
	input {
		&.button {
			background-color: $blue_color;
			border-radius: 0;
		}
	}
	iframe {
		border: 0;
	}
	.wpcf7 {
		[type=text],
		[type=email],
		textarea[rows] {
			margin: 0;
			border-radius: 0;
		}
	}
	.home {
		font-size: 20px;
		color: $grey_color;
	}
	.white {
		padding: 20px;
		background-color: #fff;
		color: $grey_color;
		label {
			color: $grey_color;
		}
	}
	#left_menu,
	.moduletable_le1 {
		.bellows {
			margin: 0;
			background-color: transparent !important;
			box-shadow: none;
			ul {
				border-right: 1px solid #fff;
				li {
					&.bellows-current_page_item {
						a {
							background-color: rgba(0, 0, 0, 0.6) !important;
							color: #fff !important;
						}
					}
					&.bellows-menu-item-has-children.bellows-active {
						a {
							&.bellows-target {
								background-color: rgba(0, 0, 0, 0.6) !important;
								color: #fff !important;
							}
						}
					}
					a {
						margin: 0;
						padding: 10px;
						font: {
							family: 'Bebas Neue Regular';
							size: 18px;
						}
						color: #fff !important;
						&:hover {
							background-color: rgba(0, 0, 0, 0.6) !important;
							color: #fff !important;
						}
						span.bellows-subtoggle {
							width: 50px;
							background: transparent !important;
						}
					}
					ul {
						border: 0;
						li {
							a {
								font: {
									family: 'Open Sans', sans-serif;
									size: 14px;
								}
								text-transform: initial;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_le1 {
		.bellows {
			ul {
				li {
					a {
						color: $grey_color !important;
						text-align: left !important;
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				a.woocommerce-LoopProduct-link {
					padding: 10px;
					/*background-color: #fff;*/
					/*border: 1px solid grey;*/
					display: block;
					img {
						max-height: 180px;
						margin: auto;
						/*background: {
							image: url(woocommerce_img_bg.png);
							repeat: no-repeat;
						}
						border-radius: 50%;*/
						display: block;
					}
					h2 {
						margin-top: 20px;
						min-height: 40px;
						padding: 10px !important;
						/*background-color: rgba(0, 0, 0, 0.6);*/
						border-top: 1px solid #000;
						font: {
							family: 'Open Sans', sans-serif;
							size: 11px;
						}
						color: $grey_color;
						text-align: center;
					}
				}
			}
		}
		.product {
			color: $grey_color;
			h1 {
				margin-top: 120px;
				font: {
					size: 24px;
					weight: bold;
				}
			}
		}
		a,
		button {
			&.button {
				background-color: rgba(0, 0, 0, 0.8);
				/*border-radius: 0;*/
				color: #fff;
			}
		}
	}
	&.home {
		background-color: #fff;
	}
	&.white_bg {
		background-color: #fff;
		color: $grey_color;
		#left_menu {
			.bellows {
				ul {
					li {
						a {
							color: $grey_color !important;
						}
					}
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	background: url(block_1_bg.png) top repeat-x, url(block_1_bg.png) bottom repeat-x;
	.moduletable_b11 {}
}

/* Block 2 */

.block_2 {
	padding-bottom: 40px;
	/*padding: 40px 0;
	background: {
		image: url(content_bg.png);
		position: center;
	}*/
	.moduletable_b21 {
		#a {
			padding: 40px 0;
			background-color: #fff;
			h3 {
				margin-bottom: 0;
				font: {
					family: 'Lemon/Milk Regular';
					size: 30px;
				}
				color: $grey_color;
			}
		}
		#b {
			background: {
				image: url(moduletable_b21_b_bg.png);
				position: top;
				repeat: repeat-x;
			}
			.max {
				max-width: 1000px;
				margin: auto;
				.yotu-videos {
					.yotu-video-title {
						color: #fff;
					}
				}
			}
		}
		#c {
			a {
				&.button {
					background-color: $blue_color;
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 40px;
	/*background: {
		image: url(content_bg.png);
		position: center;
	}*/
	.moduletable_b31 {
		#a {
			h3 {
				margin-bottom: 0;
				font: {
					family: 'Lemon/Milk Regular';
					size: 30px;
				}
				color: $grey_color;
			}
		}
		#b {
			background-color: $background;
			.max {
				max-width: 1000px;
				margin: auto;
				.owl-item {
					height: inherit;
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding-bottom: 40px;
	/*background: {
		image: url(content_bg.png);
		position: center;
	}*/
	.moduletable_b41 {
		#a {
			.max {
				/*max-width: 1000px;*/
				margin: auto;
				h3 {
					margin-bottom: 0;
					padding: 10px 0;
					background-color: $blue_color;
					font: {
						family: 'Lemon/Milk Regular';
						size: 30px;
					}
					color: #fff;
				}
			}
		}
		#b {
			background-color: $background;
			.max {
				max-width: 1000px;
				margin: auto;
				.owl-item {
					figure {
						a {
							max-width: 180px;
							max-height: 180px;
							margin: auto;
							background-color: #fff;
							border-radius: 50%;
							text-align: center;
							img {
								width: auto;
								/*max-height: 242px;*/
								max-height: 180px;
								margin: auto;
							}
						}
						figcaption {
							background-color: transparent;
							h3 {
								font: {
									family: 'Lemon/Milk Regular';
									size: 14px;
								}
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

/* Block 5 */

.block_5 {
	.moduletable_b51 {
		#a {
			background: {
				image: url(moduletable_b51_a_bg.png);
				position: center;
				repeat: repeat-x;
			}
			.max {
				max-width: 1000px;
				margin: auto;
				h3 {
					margin-bottom: 0;
					padding: 10px 0;
					font: {
						family: 'Lemon/Milk Regular';
						size: 30px;
					}
					color: #fff;
				}
			}
		}
		#b {
			iframe {
				border: 0;
			}
		}
	}
}

/* Bottom */

.bottom {
	.moduletable_bo1 {
		padding: 20px 0;
		font-size: 12px;
		color: #fff;
		text: {
			center: center;
			transform: uppercase;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}